.home-about {
  height: 100%;
  overflow: hidden;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(10%, rgba(248, 249, 251, 0)),
    color-stop(40%, rgba(248, 249, 251, 0.5)),
    to(#f8f9fb)
  );
  background-image: -o-linear-gradient(
    top,
    rgba(248, 249, 251, 0) 10%,
    rgba(248, 249, 251, 0.5) 40%,
    #f8f9fb 100%
  );
  background-image: linear-gradient(
    to bottom,
    rgba(248, 249, 251, 0) 10%,
    rgba(248, 249, 251, 0.5) 40%,
    #f8f9fb 100%
  );
}
.home-about .scroll-tip {
  position: absolute;
  right: 0.3rem;
  bottom: 0.38rem;
  z-index: 9;
  cursor: pointer;
  pointer-events: auto;
}
.home-about-container {
  position: relative;
  width: 11rem;
  height: 6.2rem;
}
.home-about-container > div {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.home-about-decoration {
  position: absolute;
  top: 0.9rem;
  right: 0;
  width: 1.76rem;
}
.home-about-cates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-right: -0.3rem;
  height: 0.25rem;
}
.home-about-cates-wrap {
  position: relative;
  height: 0.3rem;
  overflow: hidden;
  margin-right: -1px;
  cursor: pointer;
}
.home-about-cates-wrap::before,
.home-about-cates-wrap::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 1px;
  height: 0.18rem;
  background: #707173;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.home-about-cates-wrap::before {
  left: 0;
}
.home-about-cates-wrap::after {
  right: 0;
}
.home-about-cates-wrap:hover::before,
.home-about-cates-wrap:hover::after,
.home-about-cates-wrap--active::before,
.home-about-cates-wrap--active::after {
  background-color: #3778e5;
}
.home-about-cates-wrap:hover + .home-about-cates-wrap::before,
.home-about-cates-wrap--active + .home-about-cates-wrap::before {
  background-color: #3778e5;
}
.home-about-cates-wrap--active {
  color: #fff;
}
.home-about-cates-wrap--active .home-about-cate-wrap {
  -webkit-transform: translateY(-0.6rem);
  -ms-transform: translateY(-0.6rem);
  transform: translateY(-0.6rem);
}
.home-about-cates-wrap--active span {
  color: #fff;
  background-color: #3778e5;
}
.home-about-cate {
  height: 0.3rem;
  overflow: hidden;
}
.home-about-cate-wrap {
  font-size: 0;
  color: #676b73;
  white-space: nowrap;
  position: relative;
  height: 0.9rem;
  -webkit-transform: translateY(-0.6rem);
  -ms-transform: translateY(-0.6rem);
  transform: translateY(-0.6rem);
}
.home-about-cate .span-wrapper {
  height: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}
.home-about-cate span {
  display: block;
  font-size: 0.18rem;
  height: 0.25rem;
  line-height: 0.25rem;
  position: relative;
  padding: 0 0.38rem;
}
.home-about-cate .tab-dark {
  color: #fff;
  background: #3778e5;
}
.about-fade-enter-active,
.about-fade-leave-active {
  -webkit-transition: opacity 700ms;
  -o-transition: opacity 700ms;
  transition: opacity 700ms;
}
.about-fade-enter,
.about-fade-leave-to {
  opacity: 0;
}
.home-about-container,
.home-about-cates {
  -webkit-transition: -webkit-transform 800ms;
  transition: -webkit-transform 800ms;
  -o-transition: transform 800ms;
  transition: transform 800ms;
  transition: transform 800ms, -webkit-transform 800ms;
  -webkit-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  transition-delay: 200ms;
}
.home-about-decoration {
  -webkit-transition-delay: 2000ms;
  -o-transition-delay: 2000ms;
  transition-delay: 2000ms;
  -webkit-transition: opacity 1500ms, -webkit-transform 1500ms;
  transition: opacity 1500ms, -webkit-transform 1500ms;
  -o-transition: opacity 1500ms, transform 1500ms;
  transition: opacity 1500ms, transform 1500ms;
  transition: opacity 1500ms, transform 1500ms, -webkit-transform 1500ms;
}
.swiper-slide-prev .home-about-container {
  -webkit-transform: translateY(-1.5rem);
  -ms-transform: translateY(-1.5rem);
  transform: translateY(-1.5rem);
}
.swiper-slide-prev .home-about-cates {
  -webkit-transform: translateY(-1rem);
  -ms-transform: translateY(-1rem);
  transform: translateY(-1rem);
}
.swiper-slide-prev .home-about-decoration {
  -webkit-transform: translateX(1.5rem);
  -ms-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
  opacity: 0;
}
.swiper-slide-active .home-about-container,
.swiper-slide-active .home-about-cates {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.swiper-slide-active .home-about-decoration {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
.swiper-slide-next .home-about-container {
  -webkit-transform: translateY(2rem);
  -ms-transform: translateY(2rem);
  transform: translateY(2rem);
}
.swiper-slide-next .home-about-cates {
  -webkit-transform: translateY(1.5rem);
  -ms-transform: translateY(1.5rem);
  transform: translateY(1.5rem);
}
.swiper-slide-next .home-about-decoration {
  -webkit-transform: translateX(1.5rem);
  -ms-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
  opacity: 0;
}
